
<div style="position: relative; bottom: 0; text-align: center; ">

<i class="fab fa-2x fa-facebook-f"></i>
<i class="fab fa-2x fa-instagram"></i>
<i class="fab fa-2x fa-twitter"></i>
    <p>© Copyright 2021 TinDog</p>

    </div>
</body>
</html>
