<%- include('partials/header') %>


<div class="container mt-5  other" >
  <h1 style="color: #05dfd7; text-align: center ;">About us</h1> <br>
<p style="color: white;  font-size: 1.5rem;">
   Welcome to the community where you can find perfect partner for your dog. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
  </p>
  <br>
  <p style="color: black;  font-size: 2rem; text-align: center;"> Would you like to Submit your toughts ?
 <br> <br>    <a class="btn btn-primary btn-lg" href="/submit" role="button">Submit</a>

   </p>
</div>

<%- include('partials/footer') %>
