<%- include('partials/header') %>

<div class="ourbox">
<h1>About Us</h1>
  <div class="row">
    <div class="col-sm-6">
      <img class="ourimg" src="./images/iphone6.png" alt="" >
    </div>
    <div class="col-sm-5">
       <br>
      <div class="card">
        <div class="card-body">
          <p> Hello, Gagan to the community where you can find perfect partner for your dog. Lorem ipsum dolor sit amet, </p>
        </div>
        <p style="color: black;  font-size: 1rem; text-align: center;"> Would you like to Submit your toughts ?
       <br> <br>    <a class="btn btn-primary btn-lg" href="/submit" role="button">Submit</a>

      </div>
    </div>
  </div>
</div>



<%- include('partials/footer') %>
