<%- include('partials/header') %>

<div class="ourbox">
<h1>Login</h1>
  <div class="row">
    <div class="col-sm-6">
      <img class="ourimg" src="./images/dog-img.jpg" alt="" >
    </div>
    <div class="col-sm-5">
       <br>
      <div class="card">
        <div class="card-body">
          <form action="/login" method="POST">
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" name="username" placeholder="Your Email">
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" name="password" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-dark">Login</button>
          </form>


        </div>
        <br>
        <a class="btn btn-block btn-social btn-google" href="/auth/google" role="button">
          <i class="fab fa-google"></i>
          Sign In with Google
        </a>
      </div>
      <br> <br>
      <a class="btn btn-primary btn-lg" href="/register" role="button">Register</a>
      <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit</a>
    </div>
  </div>
</div>


<%- include('partials/footer') %>
