<%- include('partials/header') %>
  <section id="title">
    <div class="container-fluid">

    <nav class=" navbar navbar-expand-xl navbar-dark nav-ml">
      <a class="navbar-brand navbar-" href="/" style="font-size: 2.1rem; font-family: 'Ubuntu';  ">tindog</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
   <span class="navbar-toggler-icon"></span>
 </button>
 <div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav ml-auto">
    <li class="nav-item" >    <a class="nav-link" href="/about"> About us</a>   </li>
    <li class="nav-item" >    <a class="nav-link" href="#pricing"> Pricing</a>   </li>
    <li class="nav-item" >    <a class="nav-link" href="#features"> features</a>     </li>
  </ul>
  </div>
</nav>

<div style=" padding: 50px;  text-align: center;  background-color: #4B7C5D; color: black;">
  <h1>Welcome to the community</h1>
<br>
  <strong><p>Here we go check some awsome dogs and match a perfect match.</p> </strong>

</div>

<!-- <div class="other container  ">
        <div class="centered"> -->
      <!-- <h1 class="">Welcome to the community!</h1> -->
<div style="background-color:#ff4c68; padding-bottom: 50px; ">


<br> <br>
<div class="row" style="  margin-left: 10px; margin-right: 10px;">
    <% usersWithSecrets.forEach(function(user){ %>
      <div class="column col-4">
        <div class="card">
            <div class="card-header">
              <h3> <%=user.name%> </h3>
              </div>
      <p class="secret-text" style="font-size: 1.5rem; text-align: center;"><%=user.secret%></p>
</div> </div>
        <% }) %>
  </div>
  <!-- </div> -->
    <hr>
    <a class="btn btn-light btn-lg" href="/logout" role="button" style="margin-left: 300px; margin-right: 50px;   ">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit post</a>
  <!-- </div> -->
</div>
<%- include('partials/footer') %>
